/* CSS */
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 769px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    margin-left: 40px;
  }
}
